{% extends "base.html" %}

{% block content %}
    <h2>Students</h2>
    <ul>
        {% for Student in object_list %}
	        {% url 'student_update' Student.id as Student_url %} 
        <h3><li><a href={{Student_url}}  >{{ Student.name }}</a></li><a>{{Student.pk}}</a></h3>
        <li>{{ Student.bolsa }}</li>
        <li>{{ Student.tipo }}</li>
        <li>{{ Student.data_Nascimento }}</li>
        <li>{{ Student.DRE }}</li>
        <li>{{ Student.RG }}</li>
        <li>{{ Student.CEP }}</li>
        <li>{{ Student.endereco }}</li>
        <li>{{ Student.telefone }}</li>
        <li>{{ Student.curso }}</li>
<!--            {% for x in Student.studentFieldsList %}
                {{ atttribute }} {{ x }}
                <li>{{Student.attribute|safe}}</li>
            {% endfor %} -->
        {% empty %}
            <li>Não existem alunos cadastrados no sistema.</li> 
        {% endfor %}
    </ul>

{% endblock %}
